@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav {
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$green;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.475);
    .title { 
        color: #000;
        cursor: pointer;

        .img {
            height: auto;
            width: 100px;
            object-fit: cover;
            padding: .5rem;
        }
    }
    .menu {
        @include m.mxtablet {
            display: none;
        }
        .nav-items {
            // padding: 1rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            li {
                a {
                    font-size: 1.5rem;
                    transition: all .4s ease;
                    padding: 0.5rem;
                    border-radius: .2rem;
                    cursor: pointer;
                    color: v.$second-color;
                    &:hover {
                        background-color: v.$green;
                    }
                }
            }
        }
    }
    .panel {
        display: flex;
        z-index: 998;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: rgba(243, 222, 184, 0.952);
        top: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        transform: translate(0, -100%);
        transition: all .4s ease;
        &.is-active {
            transform: translate(0, 0);
        }
        .nav-items {
            flex-direction: column;
            li {
                a {
                    color: #000;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 1rem;
                    outline: none;
                    padding: 1rem 2rem;
                    border-radius: .2rem;
                    transition: all .3s ease;
                    cursor: pointer;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
    .menu-h {
        z-index: 999;
        position: absolute;
        right: 0;
        .hamburger-box {
            .hamburger-inner {
                background-color: rgb(41, 40, 40);
                &::after, &::before {
                    background-color: rgb(41, 41, 41);
                }  
            }
        }
        @include m.tablet {
            display: none;
        }


    }


  
}